body {
    background-color: rgb(121, 114, 114);
    background-image: url("../images/background-img.jpg");
    color: rgb(50, 13, 151);
}

p {
    font-weight: bold;
}

.text-center {
    text-align: center;
}